@charset "utf-8";
@import"./public";

body {
    font-size: 12px;

    //nav
    .top_nav {
        height: 30px;
        background-color: #f5f5f5;

        .top_nav_inner {
            width: 1170px;
            height: 30px;
            margin: 0 auto;
            position: relative;

            .province {
                width: 86px;
                height: 30px;
                position: absolute;

                .province_inner {
                    position: relative;
                    z-index: 1;
                    padding-left: 15px;
                    padding-right: 23px;
                    width: 46px;
                    height: 27px;
                    cursor: pointer;
                    border-width: 1px 1px 0;
                    border-style: solid;
                    border-color: #f5f5f5;
                    line-height: 27px;
                }

                .triangle {
                    position: absolute;
                    top: 12px;
                    left: 57px;
                    display: inline-block;
                    width: 0;
                    height: 0;
                    border-width: 4px;
                    border-color: #999 transparent transparent transparent;
                    border-style: solid dashed dotted dashed;
                    vertical-align: top;
                }

            }

            .nav_title {
                display: inline-block;
                position: absolute;
                top: 0px;
                right: 0px;

                :hover {
                    color: #fa2a83;
                }

                a {
                    line-height: 27px;
                    padding-left: 10px;
                    padding-right: 7px;
                    border: 1px solid transparent;
                    display: inline-block;
                    color: #666;

                    .icon {
                        display: inline-block;
                        position: relative;

                        .triangle {
                            position: absolute;
                            top: -5px;
                            left: -2px;
                            display: inline-block;
                            width: 0;
                            height: 0;
                            border-width: 4px;
                            border-color: #999 transparent transparent transparent;
                            border-style: solid dashed dotted dashed;
                            vertical-align: top;

                        }
                    }

                    .ico-mob {
                        background-image: url(../img/index/sprites-hash-b45bfef8.png);
                        display: inline-block;
                        background-position: -294px -142px;
                        width: 10px;
                        height: 14px;
                        margin-left: 1px;
                        margin-right: 3px;
                        margin-top: -3px;
                        vertical-align: middle;

                    }



                }

                span {
                    margin-left: 15px;
                    color: rgb(170, 167, 167);
                }

            }
        }
    }

    //head
    .head {
        height: 100px;
        background-color: #fff;

        .head-inner {
            width: 1170px;
            margin: 0 auto;
            position: relative;
            clear: both;

            //cart
            .head-cart {
                position: relative;
                z-index: 9;
                float: right;
                margin-top: 33px;
                margin-left: 15px;
                width: 96px;

                .tool {
                    position: relative;
                    z-index: 1;
                    padding-right: 33px;
                    padding-left: 25px;
                    width: 36px;
                    height: 32px;
                    line-height: 32px;
                    cursor: pointer;
                    border: 1px solid #ccc;
                    background-color: #f6f7f9;
                    border-radius: 2px;

                    .ico-bag {
                        width: 12px;
                        height: 17px;
                        position: absolute;
                        left: 5px;
                        top: 7px;
                        background-image: url(../img/index/sprites-hash-b45bfef8.png);
                        background-position: -114px -208px;
                    }

                    .num {
                        width: 24px;
                        height: 16px;
                        line-height: 16px;
                        color: #fff;
                        background-color: #f00581;
                        position: absolute;
                        right: 3px;
                        top: 7px;
                        border-radius: 8px;
                        text-align: center;
                    }

                    a {
                        color: #333;
                    }
                }


            }


        }

        .logo {
            width: 160px;
            height: 100px;
            background-image: url(../img/index/logo.png);
            background-size: 160px 100px;
            float: left;
        }

        .service {
            width: 304px;
            height: 100px;
            float: left;
            background-image: url(../img/index/service.jpg);
            background-size: 304px;
            height: 100px;
        }

        .search {
            width: 453px;
            float: right;
            margin-top: 30px;
            position: relative;
            margin-right: 34px;

            .search-inner {
                position: relative;
                width: 453px;
                height: 36px;
                border: 2px solid #fa2a83;
                border-radius: 2px;
                background-color: #fff;


                input {
                    margin-left: 1px;
                    padding: 2px 12px;
                    width: 311px;
                    height: 28px;
                    line-height: 36px;
                    font-size: 14px;
                    color: #333;
                    border: none;
                    border-top-left-radius: 2px;
                    border-bottom-left-radius: 2px;
                    background-color: #fff;
                    outline: medium;
                    z-index: -2;
                    margin-top: 3px;
                }

                a {
                    font-size: 12px;
                }

                .search-bottom {
                    position: absolute;
                    top: 40px;

                }

                .search-button {
                    position: absolute;
                    top: 0;
                    right: 0;
                    padding-top: 6px;
                    width: 53px;
                    height: 30px;
                    text-align: center;
                    background-color: #fa2a83;
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;

                    .search-icon {
                        background-image: url(../img/index/sprites-hash-b45bfef8.png);
                        background-position: -72px -208px;
                        width: 19px;
                        height: 22px;
                        display: inline-block;
                    }
                }
            }
        }


    }

    //main-nav-style
    .main-nav {
        clear: both;
        position: relative;
        height: 43px;
        line-height: 43px;
        background-color: #fff;
        font-size: 14px;
        color: #fff;

        .nav-inner {
            width: 1170px;
            margin: 0 auto;

            ::after {
                content: '.';
                height: 0;
                display: block;
                clear: both;
                visibility: hidden;
            }

            .main-nav-link {
                height: 43px;

                li {
                    float: left;
                    position: relative;
                    padding: 0 15px;

                    :hover {
                        color: #fa2a83;
                    }

                    a {
                        display: block;
                        text-align: center;
                        color: #333;
                        _width: 80px;
                        _padding: 0;
                        font-size: 16px;
                        white-space: nowrap;



                        img {
                            vertical-align: middle;
                            margin-top: -3px;
                            margin-right: 6px;
                        }

                        .vipFont {
                            position: absolute;
                            top: 1px;
                            right: 1px;
                        }
                    }
                }

                .main-nav-first {
                    margin-right: 25px;
                    width: 156px;
                    background-color: #f10180;
                    width: 156px;
                    height: auto;
                    text-align: center;

                    img {
                        vertical-align: middle;
                        margin-top: -3px;
                        margin-right: 6px;
                    }

                }

                .shouye {
                    cursor: default;
                    font-weight: 700;
                    color: #f10180;
                }
            }
        }


    }

    .content {
        .content_inner {
            width: 1000px;
            height: 634px;
            margin: 0 auto;
            padding-top: 22px;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }

        .magnifier {
            width: 420px;
            height: 538px;
            border-bottom: 1px #e2e2e2 dashed;
            position: relative;

            .big_img {
                width: 420px;
                height: 420px;
                display: inline-block;

                // background-image: url(../img/product_details/goods.jpg);
                .mirror {
                    width: 100px;
                    height: 100px;
                    background-color: rgb(8, 8, 8);
                    opacity: 0.2;
                    position: absolute;
                }
            }

            ;

            .blow_up {
                width: 420px;
                height: 420px;
                background-color: rgb(135, 155, 241);
                position: absolute;
                top: 0px;
                left: 420px;
                z-index: 2;
            }

            .small_div {
                width: 200px;
                height: 200px;
                position: absolute;
                top: 0px;
                left: 0px;
                background-color: rgb(221, 221, 221);
                opacity: 0.6;
            }

            .inner_img {
                width: 420px;
                height: 420px;
                background-color: rgb(14, 7, 80);
                position: absolute;
                top: 0px;
                left: 420px;
            }

            .com_deta {
                width: 419px;
                height: 64px;
                display: flex;
                justify-content: space-between;

                img {
                    width: 62px;
                    height: 62px;
                    // border: 2px solid red;
                }
            }

            .product_text {
                width: 420px;
                height: 23px;
                padding: 12px 0px;
                position: relative;

                .commodity_code {
                    color: #999;
                    display: inline;
                }

                p {
                    margin-left: 18px;
                    display: inline;
                    color: #999999;
                }

                .share {
                    width: 95px;
                    height: 22px;
                    border: solid 1px #c2c2c2;
                    border-radius: 2px;
                    cursor: pointer;
                    position: absolute;
                    color: #333;
                    font-size: 12px;
                    top: 13px;
                    right: 0px;
                    padding: 0px 9px;
                    background-color: rgb(250, 250, 250);
                    outline: none;

                    .reverse_arrow {
                        width: 15px;
                        height: 12px;
                        display: inline-block;
                        background-image: url(../img/product_details/标签_02.png);
                        background-position: -16px -19px;
                    }
                }
            }
        }

        .buy_deta {
            width: 550px;
            height: 538px;
            border-bottom: 1px #e2e2e2 dashed;

            .goods_title {
                margin-bottom: 10px;

                .shop {
                    width: 340px;
                    height: 22px;
                    line-height: 22px;
                    color: #777578;
                }

                .goods_deta {
                    width: 550px;
                    height: 20px;
                    line-height: 20px;
                    margin: 8px 0px;
                }

                .goods_description {
                    font-size: 14px;
                    color: #999999;
                }
            }

            .pic {
                width: 550px;
                height: 70px;
                background-color: #ebd6e9;
                padding-bottom: 15px;
                margin-bottom: 20px;

                i {
                    color: #f43499;
                    font-size: 20px;
                    font-style: normal;
                    vertical-align: bottom;

                }

                b {
                    font-size: 48px;
                    color: #f43499;
                    font-weight: normal;
                }

                span {
                    font-size: 16px;
                    color: #999;
                }

                .original_price {
                    padding: 0px 10px;
                    text-decoration: line-through;
                }
            }

            .information {
                width: 550px;

                .add {
                    width: 550px;
                    height: 32px;
                    margin-bottom: 5px;

                    span {
                        width: 40px;
                        height: 32px;
                        line-height: 32px;
                        display: inline-block;
                        margin: 0 auto;
                        color: #999999;
                    }

                    p {
                        width: 205px;
                        height: 30px;
                        line-height: 30px;
                        padding: 0px 35px 0px 10px;
                        display: inline-block;
                        border: 1px solid #ccc;
                    }
                }

                .size {
                    width: 539px;
                    height: 40px;
                    padding: 12px 11px 0px;
                    margin-left: -11px;

                    span {
                        position: relative;
                        top: 0px;
                        left: 0px;
                        width: 40px;
                        height: 32px;
                        line-height: 32px;
                        display: inline-block;
                        margin: 0 auto;
                        color: #999999;
                    }

                    .size_num {
                        position: relative;
                        top: -30px;
                        left: 42px;

                        li {
                            width: 30px;
                            height: 26px;
                            line-height: 26px;
                            padding: 0px 20px;
                            text-align: center;
                            margin: 0px 10px 10px 0px;
                            border: 1px solid #ccc;
                            display: inline-block;
                            cursor: pointer;
                        }

                        // .style{
                        //     border:2px solid #f43499;
                        //     display: none;
                        // }

                    }



                }

                .piece {
                    width: 540px;
                    height: 30px;
                    padding: 10px;
                    margin-left: -10px;

                    span {
                        width: 40px;
                        height: 32px;
                        line-height: 32px;
                        display: inline-block;
                        margin: 0 auto;
                        color: #999999;
                    }

                    dd {
                        width: 75px;
                        height: 30px;
                        border: 1px solid #ccc;
                        display: inline-block;
                        position: relative;

                        div {
                            display: inline-block;
                            background-color: #f9f8f8;
                            color: #dad8d8;
                            width: 21px;
                            height: 30px;
                            text-align: center;
                            line-height: 28px;
                            color: #7d7c7c;
                            cursor: pointer;
                        }

                        em {
                            width: 23px;
                            height: 28px;
                            line-height: 28px;
                            font-style: normal;
                            text-align: center;
                            display: inline-block;
                            position: absolute;
                            top: 2px;
                            left: 25px;

                        }

                        .piece_reduce {
                            cursor: not-allowed;
                            margin-right: 30px;
                        }

                        .piece_add {
                            position: absolute;
                            top: 0px;
                            right: 0px;
                        }
                    }
                }

                .add_shopbig {
                    width: 510px;
                    height: 46px;
                    margin: 20px 0px 12px 40px;

                    .add_goods {
                        width: 198px;
                        height: 44px;
                        background-color: #f10180;
                        border: 1px solid #f10180;
                        border-radius: 3px;
                        outline: 0;
                        line-height: 44px;
                        vertical-align: auto;
                        color: #ffffff;
                        font-size: 18px;

                        img {
                            width: 30px;
                            height: 30px;
                            margin-top: 7px;
                        }

                        span {
                            position: relative;
                            top: -9px;
                            left: 0px;
                        }
                    }
                }

                .tips {
                    width: 510px;
                    height: 24px;
                    line-height: 24px;
                    color: #999;
                    margin-left: 40px;
                    margin-bottom: 30px;

                    span {
                        color: #f62e99;
                    }
                }
            }

        }

        .content_last {
            width: 1000px;
            display: flex;
            justify-content: space-between;

            .goods_promise {
                width: 420px;
                height: 27px;
                padding: 15px 0px;
                display: flex;
                justify-content: space-between;

                div {
                    width: 49%;
                    height: 27px;
                    display: inline-block;
                    text-align: center;

                    i {
                        width: 30px;
                        height: 30px;
                        display: inline-block;
                        background-image: url(../img/product_details/标签_01.png);
                        background-position: 33px -100px;
                    }

                    span {
                        color: #bcb7ba;
                        margin-left: 15px;
                        font-size: 14px;
                        position: relative;
                        top: -10px;
                        left: 0px;
                    }

                    .shield {
                        background-position: 33px -66px;

                    }
                }
            }

            .goods_service {
                width: 550px;
                height: 63px;
                padding-top: 10px;

                .customer_service {
                    width: 550px;
                    height: 33px;
                    color: #999999;

                    .message_img {
                        width: 18px;
                        height: 16px;
                        display: inline-block;
                        background-image: url(../img/product_details/message.gif);
                    }

                    span {
                        color: #f10180;
                        text-decoration: underline;
                    }

                    .service_time {
                        margin-left: 6px;
                        color: #999;
                    }
                }

            }
        }

    }

    //footrt-style
    .footer {
        font: 12px/1.5 tahoma, arial, Hiragino Sans GB, WenQuanYi Micro Hei, \5FAE\8F6F\96C5\9ED1, \5B8B\4F53, sans-serif;
        display: block;
        clear: both;
        overflow: hidden;
        line-height: 22px;
        padding-top: 0;
        border-top: 1px solid #ebebeb;
        background-color: #fcfcfc;
        color: #4d4d4d;

        .footer-inner {
            width: 960px;
            margin: 0 auto;
            overflow: hidden;

            ul {
                overflow: hidden;
                list-style: none;
                margin-block-start: 1em;
                margin-block-end: 1em;
                margin-inline-start: 0px;
                margin-inline-end: 0px;
            }

            .footer-vip {
                overflow: hidden;
                zoom: 1;
                margin: 37px 0 25px;
                line-height: 20px;
            }

            .footer-list {
                overflow: hidden;
                zoom: 1;
                margin: 37px 0 25px;
                line-height: 20px;

                .footer-list dl {
                    float: left;
                    width: 145px;
                    height: 146px;
                    padding-left: 16px;
                    border-right: 1px solid #e0e0e0;

                    .footer-list dt {
                        margin-bottom: 4px;
                        color: #4d4d4d;
                    }
                }
            }

            .footer-infor {
                text-align: center;
                color: #fff;
                margin-bottom: 0;

                .footer-infor-link {
                    background-color: #d7237e;
                    line-height: 30px;
                }

                .footer-infor-txt {
                    color: #999;
                    margin: 14px 0;
                    line-height: 19px;
                }
            }

            .footer-ft {
                padding: 4px 0 4px;
                background-color: #fff;

                .footer-pic {
                    margin: 0 auto;
                    width: 960px;
                    height: 40px;
                    text-align: center;
                    overflow: hidden;

                    a {
                        color: grey;
                        text-decoration: none;

                        .footer-pic-ico01 {
                            width: 105px;
                            background-position: 0 0;
                        }
                    }
                }
            }

        }
    }

    //screen_right-style
    .screen_right {
        position: fixed;
        top: 0;
        right: 0;
        z-index: 999;
        width: 36px;
        height: 100%;
        background-color: #262626;

        .sidebar_content {
            width: 36px;
            height: 400px;
            position: absolute;
            top: 50%;
            right: 0px;
            margin-top: -250px;

            li {
                position: relative;
                width: 36px;
                margin-bottom: 8px;
                text-align: center;
                cursor: pointer;

                :hover {
                    background-color: #df147f;
                }

                i {
                    font-style: normal;
                }

                .cart {
                    background-color: #df147f;
                    color: #fff;
                }
            }
        }
    }

}