@import"./public";

body {
    font-size: 12px;

    .top_nav {
        height: 30px;
        background-color: #f5f5f5;

        .top_nav_inner {
            width: 1170px;
            height: 30px;
            margin: 0 auto;
            position: relative;

            .province {
                width: 86px;
                height: 30px;
                position: absolute;

                .province_inner {
                    position: relative;
                    z-index: 1;
                    padding-left: 15px;
                    padding-right: 23px;
                    width: 46px;
                    height: 27px;
                    cursor: pointer;
                    border-width: 1px 1px 0;
                    border-style: solid;
                    border-color: #f5f5f5;
                    line-height: 27px;
                }

                .triangle {
                    position: absolute;
                    top: 12px;
                    left: 57px;
                    display: inline-block;
                    width: 0;
                    height: 0;
                    border-width: 4px;
                    border-color: #999 transparent transparent transparent;
                    border-style: solid dashed dotted dashed;
                    vertical-align: top;
                }

            }

            .nav_title {
                display: inline-block;
                position: absolute;
                top: 0px;
                right: 0px;

                a {
                    line-height: 27px;
                    padding-left: 10px;
                    padding-right: 7px;
                    border: 1px solid transparent;
                    display: inline-block;
                    color: #666;

                    .icon {
                        display: inline-block;
                        position: relative;

                        .triangle {
                            position: absolute;
                            top: -5px;
                            left: -2px;
                            display: inline-block;
                            width: 0;
                            height: 0;
                            border-width: 4px;
                            border-color: #999 transparent transparent transparent;
                            border-style: solid dashed dotted dashed;
                            vertical-align: top;

                        }
                    }


                }

                span {
                    margin-left: 15px;
                    color: rgb(170, 167, 167);
                }

            }
        }
    }


}